@model ECommercePrototype.Web.Models.Catalogue.CatalogueItemRepository
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="header" class="header">
    <h1>Welcome</h1>
    <h2>E-Comm can help you find what you are looking for</h2>
</div>

<p>Search By Name</p>
<form asp-controller="Catalogue" asp-action="Index">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

@section sidebar
    {
    <ul id="sidebar">
        <li>
            <p>Search By Brand</p>
            <form asp-controller="Catalogue" asp-action="Index">
                <p>
                    <select asp-for="catalogueBrand" asp-items="Model.catalogueBrands">
                        <option value="">All</option>
                    </select>
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </li>
        <li>
            <p>Search By Type</p>
            <form asp-controller="Catalogue" asp-action="Index">
                <p>
                    <select asp-for="catalogueType" asp-items="Model.catalogueTypes">
                        <option value="">All</option>
                    </select>
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </li>
        @*<li>
                <p>Search By Name</p>
                <form asp-controller="Catalogue" asp-action="Index">
                    <p>
                        <input type="text" name="SearchString">
                        <input type="submit" value="Filter" />
                    </p>
                </form>
            </li>*@
    </ul>
}
<p class="lead">Each item listed has detailed information to help you choose the right product</p>

@if (Model.catalogue != null)
{
    <table class="table" cellpadding="1" cellspacing="1" border="1">
        <thead>
            <tr>
                <th>
                    Item Number
                </th>
                <th>
                    Name
                </th>
                <th>
                    Picture
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.catalogue)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        <img src="~/images/@item.Pic" width="42" height="42" />
                    </td>
                    <td>
                        @Html.ActionLink("View Item Details", "Details", new { id = item.ItemID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>There is an issue with the Catalogue</h1>
}
